{% extends 'base.html.twig' %}

{% block body %}
        <header>
            <div class="buttonBlock">
            {% if app.user %}
                <a class="button" href="{{ path('app_logout') }}">Logout</a>
                <a class="button" href="card/new/">Создать новую карточку</a>
            {% else %}
                <a class="button" href="{{ path('app_login') }}">Login</a>
            {% endif %}
            </div>
        </header>
        <aside>
            <div class="sidebar">
                {% for item in preparedArr %}
                <a class="sidebar-row" href="http://{{ item.getCardHost() }}">
                    <h1>{{ item.getCardName() }}</h1>
                    <p>{{ item.getCardHost() }}</p>
                </a>
                <div class="sidebar-underline"></div>
                {% endfor %}
            </div>
        </aside>
        <main>
            <div class="grid">
                {% for obj in preparedArr %}
                <div class="scroll">
                    <div class="card">
                        <h1>{{ obj.getCardName() }}</h1>
                        <a href="http://{{ obj.getCardHost() }}">{{ obj.getCardHost() }}</a>
                        <div class="github">
                            <p>Github:</p>
                            <a href="{{ obj.getCardLink() }}">{{ obj.getCardLink() }}</a>
                        </div>
                    </div>
                    <a class="editButton" href="card/edit/{{ loop.index - 1 }}"></a>
                </div>
                {% endfor %}
            </div>
        </main>
{% endblock %}
