<link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
<body>
    <div class="grid">
        {% for obj in preparedArr %}
            <div class="card">
                <h1>{{ obj.getCardName() }}</h1>
                <a href="http://{{ obj.getCardHost() }}">{{ obj.getCardHost() }}</a>
                <div class="github">
                    <p>Github:</p>
                    <a href="https://{{ obj.getCardLink() }}">https://{{ obj.getCardLink() }}</a>
                </div>
            </div>    
        {% endfor %}
    </div>
</body>